.slider {
    background: linear-gradient(180deg, #f9b33b, #eb8c38, #f9b33b);
}
.container__slider {
    flex-direction: row;
}

.slide-left__image {
    transform: rotate(90deg)
}

.slide_descr {
    height: 100%;
    min-width: 450px;
}

.slide__title {
    font-size: rem(64px);
    font-family: 'Gagalin';
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    margin-bottom: rem(50px);;
}

.slide__text {
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    color: #fff; 
    margin-bottom: 37px;
}

.slide__price-order {
    display: flex;
    align-items: baseline;
}

.slider__price {
    color: #e35028;
    font-size: 72px;
    font-family: 'Gagalin';
}

.slider__rub {
    color: #e35028;
    font-family: 'Gagalin';
    font-size: 30px;
    margin-left: 8px;
}

.slider__order {
    background: #e35028;
    text-decoration: none;
    text-transform: uppercase;
    font-size: rem(13px);
    color: #fff;
    font-family: 'Ubuntu';
    font-weight: 700;
    padding: 13px 15px; 
    border-radius: 5%;
    margin-left: 28px;
}

.slider-right {
    margin-left: rem(35px);
    transform: rotate(-90deg);
}

