.slider {
    background: linear-gradient(180deg, #f9b33b, #eb8c38, #f9b33b);
    position: relative;
}
.container__slider {
    flex-direction: row;
}

.slide-left__image {
    transform: rotate(90deg)
}

.consist__block {
    position: absolute;
    height: rem(90px);
    width: rem(90px);
    top: rem(91px);
    left: rem(80px);
    background: #f08c33;
    border-radius: 5%;
}

.slider__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    font-family: 'Gagalin';
    font-size: rem(14px);
    text-decoration: none;
    color: #fff;     
}

.consist__block-pic {
    width: rem(46px);
    height: rem(41px);
}

.kkal__block {
    opacity: .5;    
}

.kkal__block-pic {
    position: relative;
    width: rem(60px);
    height: rem(60px);
}

.kkal__block-pic--text {
    position: absolute;
    font-size: rem(20px);
    margin-left: rem(1px);
}

.consist__block-text {
    margin-top: rem(7px);;
}

.kkal__block {
    position: absolute;
    height: rem(90px);
    width: rem(90px);
    bottom: rem(91px);
    left: rem(80px);
}

.slide_descr {
    height: 100%;
    min-width: rem(450px);
}

.slide__title {
    font-size: rem(64px);
    font-family: 'Gagalin';
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    margin-bottom: rem(50px);;
}

.slide__text {
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    color: #fff; 
    margin-bottom: rem(37px);
}

.slide__price-order {
    display: flex;
    align-items: baseline;
}

.slider__price {
    color: #e35028;
    font-size: rem(72px);
    font-family: 'Gagalin';
}

.slider__rub {
    color: #e35028;
    font-family: 'Gagalin';
    font-size: rem(30px);
    margin-left: rem(8px);
}

.slider__order {
    background: #e35028;
    text-decoration: none;
    text-transform: uppercase;
    font-size: rem(13px);
    color: #fff;
    font-family: 'Ubuntu';
    font-weight: 700;
    padding: rem(13px) rem(15px); 
    border-radius: 5%;
    margin-left: rem(28px);
}

.slider-right {
    margin-left: rem(35px);
    transform: rotate(-90deg);
}

